{% extends 'base.html.twig' %}

{% block body %}

<div data-controller="cap" data-action="solve->cap#solved">
    <script>
        window.CAP_CUSTOM_WASM_URL = '{{wasmUrl}}';
        window.CAP_LANG = 'de';
    </script>

    <script src="{{ widgetUrl }}"></script>

    <cap-widget data-cap-api-endpoint="{{host}}//{{ siteKey }}/"></cap-widget>
</div>

{% endblock %}
